
body {
  background-color: white;
}

#wrap {
  width: 80%;
  margin: 0 auto;
}
/*#UserInput {
  height: 200px;
}

#Results {
  height: 200px;
}*/
div.error {
    background-color: #f3e636;
    border-color: #924949;
    border-style: solid solid solid solid;
    border-width: 2px;
    width: 50%;
    text-align: center;
}
.trWhite {
    background-color: #FFFFFF;
    color: black;
    font-weight: normal;
}
.trLightGray {
    background-color: lightgray;
    color: black;
    font-weight: normal;
}
.trAdamBlue:hover,
.trWhite:hover,
.trLightGray:hover {
    background-color: darkgray;
    color: #ffffff;
}
.trBlack {
    background-color: #000000;
    color: #ffffff;
    font-weight: normal;
}

.adamBlue {
    background-color: #6495ed;
    color: white;
    font-weight: normal;
}
.trAdamBlue {
    background-color: #6495ed;
    color: white;
    font-weight: normal;
}
.adamLinkBlue {
    background-color: #6495ed;
    color: white;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
}
.adamLinkBlue:hover {
    background-color: darkblue;
    color: white;
    font-weight: normal;
}

/***************** Buttons *************************/

.btn-blue {
    color: #fff;
    background-color: #0000bb;
    border-color: #000;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue.focus {
  color: #fff;
  background-color: #0000ff;
  text-decoration: none;
  border-color: #aabfeb;
}

.btn-green {
    color: #fff;
    background-color: #00aa00;
    border-color: #aabfeb;
}

.btn-green:hover,
.btn-green:focus,
.btn-green.focus {
  color: #fff;
  background-color: #00cc00;
  text-decoration: none;
  border-color: #aabfeb;
}

.btn-red {
    color: #fff;
    background-color: #aa0000;
    border-color: #aabfeb;
}

.btn-red:hover,
.btn-red:focus,
.btn-red.focus {
  color: #fff;
  background-color: #cc0000;
  text-decoration: none;
  border-color: #aabfeb;
}
/********************************************/
