
body {
  background-color: white;
}

#wrap {
  width: 80%;
  margin: 0 auto;
}

.invalid {
    background-color: #f3e636;
    border-color: #924949;
    border-style: solid solid solid solid;
    border-width: 2px;
}

.bold {
  font-weight: bold;
}

/***************** Buttons *************************/

.btn-blue {
    color: #fff;
    background-color: #0000bb;
    border-color: #000;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue.focus {
  color: #fff;
  background-color: #0000ff;
  text-decoration: none;
  border-color: #aabfeb;
}

.btn-green {
    color: #fff;
    background-color: #00aa00;
    border-color: #aabfeb;
}

.btn-green:hover,
.btn-green:focus,
.btn-green.focus {
  color: #fff;
  background-color: #00cc00;
  text-decoration: none;
  border-color: #aabfeb;
}

.btn-red {
    color: #fff;
    background-color: #aa0000;
    border-color: #aabfeb;
}

.btn-red:hover,
.btn-red:focus,
.btn-red.focus {
  color: #fff;
  background-color: #cc0000;
  text-decoration: none;
  border-color: #aabfeb;
}
/********************************************/
